@principal: #000000;
@secundaria:#333;
@branco: #dfdfdf;
@violeta: #6a1a8a;
@verde:#2b913c;
@azul:#334285;
@cinza:#afafaf;

h1{
    color:@branco;
}

nav{
    background-color: @principal;
}

footer{
    background-color: @principal;
    img{
        opacity: 0.7;
    }
    div{
        text-align: center;  
        color:@cinza;      
        a{
            // border: 1px solid @branco;
            // padding: 3px;
            color:@branco;
            margin: 0 10px;
        }
        a:hover{
            color:@cinza;
        }
        div{

            div{
                div{
                text-align: left;
                
                }
            }
        }
    }
}

.secundaria{
    background-color: @secundaria;
}

.principal{
    background-color: @principal;
}
nav a{
    color:@branco;
    text-decoration:none;
    // transition-delay: 2s;
    transition-duration:2s;
}
nav a:hover{
    color:@secundaria;
    text-decoration:none;
    // transition: width 2s;
}
.nav-link{
    color:@branco;
}

.row{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0;
}
.flex{
    display: flex;
}
// body{
//     background: @azul
// }
.circulo{
    background-color: @secundaria;
    // border-radius: 50%;
    width: 40px;
    height: 40px;
    color:@cinza;
    text-align: center;

}

.parallax {
    /* The image used */
    background-image: url("../img/paralaxCopia.jpg");
    min-height: 800px; 
}

.parallax, .parallax2{
    /* Set a specific height */
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../img/paralax2Copia.jpg");
    
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.div-flex{
    width: 330px;
}

h3{
    color:@cinza;
}

.c-principal{
    color:@principal;
}
.c-secundaria{
    color:@secundaria;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:disabled,
.btn-link:focus{
    text-decoration: none;
}

.btn-link{
    color: @secundaria;
    
}
.btn-link:hover{
    color:@cinza;
}

.circulo2{
    border-radius: 100%;
}
.m-50{
margin:0 20%;
}
form{
    a{
        color:@branco;
    }
    a:hover{
        color: @secundaria;
    }
}


//Bebida - Institucional